/* lo del bac del style 3 */

/* esto es grid */
.grid-container-nav {
  /* background-color: rgb(177, 6, 6); */
  display: grid;
  height: min-content;
  width: 100%;
  grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr 1.5fr;
  grid-template-rows: 1fr;
}

.grid-item-nav {
}
.grid-item-nav:first-child {
  grid-column: 1 / span 6;
}

/* Aqui inicia el verdadero menu */
.nav {
  text-align: center;
  height: 100%;
  /* margin: auto; */
}
.nav__li {
  height: var(--inputAlto1);
  background-color: var(--primaryClaro);
  color: var(--tituloH1);
  border-radius: 6px;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 15px;
  margin: 10px 15px 20px 0px;
  line-height: 15px;
  text-decoration: none;
  border: none;
}

/* .nav__li a {
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #030c26;
} */

/* .nav__li a:active {
  background-color: #05f2db;
} */
.nav__li:hover {
  color: #ffffff;
  background-color: var(--primaryMasClaro1);
  cursor: pointer;
  text-decoration: none;
}

/* .nav__li a:hover {
  color: #ffffff;
  cursor: pointer;
} */
/* .nav__li i {
  color: #030c26;

  text-align: center;
} */

.activedMenuItem{
  background-color: var(--colorComplementarioA);
}