.userList {
  /* flex: 1; */
  width: 100%;
  /* height: 100%; */
  height: 1fr;
  display: flex;
  justify-content: space-between;
}

/* inicio de la table */
.userListTable {
  /* width: 100%;
  height: 100%;
  flex */
  border-radius: 5px;
  flex: 1;
  overflow: auto;
}
.userListTable table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

.userListTable thead {
  background-color: var(--primaryClaro);
  color: white;
}
.userListTable tr:hover {
  background-color: var(--primary);
  color: var(--tituloH1);
}

/* el background de todos los elementos de las listas */
.userListTable tr {
  background-color: var(--primary);
  color: var(--cuerpo);
}

.userListTable th {
  background-color: var(--primaryClaro);
  color: var(--tituloH1);
  /* width: 100%;
  text-align: left; */
  padding: 15px 30px;
  font-weight: 600;
}

.userListTable td {
  /* width: 100%;
  text-align: left; */
  padding: 10px 0px 10px 30px;
}

/* fin de table */
.container-usuario {
  background-color: rgb(248, 248, 248);
  border-radius: 15px;
  flex: 1;
}

.userListUser {
  display: flex;
  align-items: center;
}

.userListImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

/* el icono de ver */

.userListVer {
  border-radius: 50px;
  padding: 8px 10px 5px 10px;
  background-color: var(--colorComplementarioA);
  color: #fff;
  cursor: pointer;
  margin-right: 15px;
  margin-top: 5px;
}

.userListDelete {
  color: rgb(255, 0, 55);
  cursor: pointer;
}

.SearchContainer {
  display: flex;
}
.SelectBox-h3 {
  flex: 0.18;
  text-align: left;
  min-width: max-content;
}

.SearchForm {
  display: flex;
  flex: 1;
}

/* .SearchForm > input {
  background-color: rgba(0, 255, 255, 0);
  border-bottom: 1px solid rgb(146, 146, 146); 
  padding: 0px;
  color: rgb(0, 0, 0);
}

.SearchForm > input::placeholder {
  color: rgb(153, 153, 153);
}

.SearchForm > input:focus {
  color: rgb(0, 0, 0);
  background-color: #eeeef7;
  border-radius: 10px;
  border: none;
} */

.SearchInput {
  padding: 10px 20px;
  border-radius: 7px;
  height: var(--inputAlto1);
  flex: 1;
  margin-right: 20px;
  font-size: 15px;
  background-color: var(--primaryClaro);
  color: var(--tituloH1);
}

.SearchInput::placeholder {
  color: var(--transparentoso);
}

.SearchButton {
  border-radius: 7px;
  height: var(--inputAlto1);
  background-color: var(--colorComplementarioA);
  width: 120px;
  /* flex: 0.3; */
  color: #ffffff;
  font-weight: 600;
  font-size: 15;
}
