/* .home{
    flex: 4;
}*/

.homeWidgets {
  display: flex;
  /* margin: 20px; */
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.home {
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(10px);
  color: rgb(255, 255, 255);
}
