.sidebar {
  /* height: calc(100vh); */
  /* background-color: rgb(16, 16, 17);
  background-color: rgb(6, 17, 179);
  background-color: rgb(255, 255, 255); */

  position: sticky;
  top: 0px;
}

.sidebarWrapper {
  padding: 20px;
  color: var(--cuerpo);
}

.sidebarMenu {
  margin-bottom: 10px;
}

.sidebarTitle {
  font-size: 16px;
  font-weight: 600;
  color: var(--primaryMasClaro);
}

.sidebarList {
  list-style: none;
  padding: 5px;
}

.sidebarListItem {
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 10px;
  border-radius: 10px;
  color: var(--primaryMasClaro1);
}

/* .sidebarListItem.active, */
.sidebarListItem:hover {
  background-color: var(--primaryClaro);
  color: var(--tituloH1);
  border-radius: 0px;
  border-left: 2px solid var(--colorComplementarioA);
}

.sidebarIcon {
  margin-right: 5px;
  font-size: 20px !important;
}
/* DJMOD */

.link {
  text-decoration: none;
  color: var(--cuerpo);
  color: var(--primaryMasClaro1);
}
.link:visited {
  text-decoration: none;
  color: none;
}

.actived {
  background-color: var(--primaryClaro);
  color: var(--tituloH1);
  border-radius: 0px;
  border-left: 2px solid var(--colorComplementarioA);
}

.actived .bolita.blue,
.actived .bolita.red {
  background-color: var(--primaryClaro);
  color: var(--tituloH1);
  border-radius: 0px;

  background-color: rgb(66, 129, 202);
  border-radius: 25px;
  border: none;
  display: inherit;
}

.bolita {
  width: 15px;
  height: 15px;
  border-radius: 25px;
  background-color: rgb(50, 205, 184);
  margin-right: 10px;
  display: inline-block;
  display: block;
}
.bolita.yellow {
  background-color: rgb(255, 196, 0);
}

.bolita.red {
  background-color: rgb(255, 0, 64);
  display: none;
}
.bolita.blue {
  background-color: rgb(66, 129, 202);
  border-radius: 25px;
  border: none;
  display: none;
}
.bolita.green {
  background-color: rgb(60, 214, 29);
}
